.hero-3 {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
