.default-hero {
  min-height: 600px;
  background: linear-gradient(to right, rgba(3, 74, 254, 0.273), transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
