.image-wrapper {
  position: relative;
  .image {
    object-fit: cover;
    cursor: pointer;
  }
  .overlay {
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.image-settings {
  .preview {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    .image-preview {
      object-fit: cover;
    }
    .preview-overlay {
      transition: top 0.2s ease-in-out;
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 50px;
      cursor: pointer;
    }
    &:hover {
      .preview-overlay {
        top: 0;
      }
    }
  }
}

.image-search {
  .tabs {
    margin-bottom: 16px;
    .tab {
      border: 0;
      background: transparent;
      display: inline-block;
      padding: 10px;
      border-bottom: 3px solid transparent;
      &.active,
      &:hover {
        border-bottom-color: #000;
      }
      &.active {
        font-weight: bold;
      }
    }
  }
  .search-bar {
    input {
      width: 100%;
      margin-bottom: 16px;
      padding: 6px;
      border: 1px solid #ccc;
    }
  }
  .tabs-content {
    height: 308px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 780px;
    .loading {
      height: 308px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      i {
        margin-right: 10px;
      }
    }
    img {
      border-radius: 8px;
      cursor: pointer;
      border: 3px solid transparent;
      object-fit: cover;
      &:hover {
        border-color: #000;
      }
    }
  }
}
